body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Gayathri', sans-serif;
  font-size: 3rem;
}

hr{
  margin: auto;
}

a{
  margin: 30px;
  text-decoration: none;
}

a:hover{
  color: green;
}

.profile-picture {
  border-radius: 100px;
  height: 200px;
  width: 200px;
  border-bottom-width: 5px;
  padding: 5px;
}

.skills {
  background-color: #FAFAD2;
  padding: 5px;
}

.code-img{
width: 25%;
float: left;
margin-right: 30px;
border-radius: 100px;
}

.politics-img{
width: 25%;
float: right;
margin-left: 30px;
border-radius: 100px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.top-container {
  background-color: #AFEEEE;
  padding: 100px;
  position: relative;
  height: 500px;
}

.middle-container {
  margin: 0px;
}

.bottom-container {
  background-color: #AFEEEE;
  padding: 30px;
}

.top-cloud {
  position: absolute;
  left: 150px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  right: 100px;
  bottom: 500px;
}

.mountain{
  position: absolute;
  bottom: 20px;
  left: 500px;
  height: 300px;
  width: 400px;

}

.contact-me{
  padding: 20px;
}

.button{
  color: rgb(137, 215, 70);
font-size: 18px;
padding: 11px;
text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
background: rgb(93, 167, 0);
background: -moz-linear-gradient(0deg, rgb(93, 167, 0) 0%, rgb(250, 20, 20) 70%);
background: -webkit-linear-gradient(0deg, rgb(93, 167, 0) 0%, rgb(250, 20, 20) 70%);
background: -o-linear-gradient(0deg, rgb(93, 167, 0) 0%, rgb(250, 20, 20) 70%);
background: -ms-linear-gradient(0deg, rgb(93, 167, 0) 0%, rgb(250, 20, 20) 70%);
background: linear-gradient(270deg, rgb(93, 167, 0) 0%, rgb(250, 20, 20) 70%);
-webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.75);
box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.75);

}

.bold {
  text-decoration: underline;
}

.profile {

  padding-bottom: 5px;
  background-color: #FAFAD2;
}
